<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Mongo"/>
  </extensions>
  <targets>
    <target xsi:type="Mongo" name="mongo" databaseName="CensoEngine" collectionName="AppLogs" connectionString="mongodb://mongo:27017/CensoEngine">
      <property name="UserName" layout="${aspnet-User-Identity}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="mongo" />
  </rules>
</nlog>